<!DOCTYPE html>
<html>
  <head>
    <title>Better mailer previews</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "better_mailer_previews/application", media: "all" %>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
      .wrap { width: 300px; height: 450px; padding: 0; overflow: hidden; }
      .frame { width: 600px; height: 900px; border: 1px solid black; }
      .frame { transform: scale(0.5); transform-origin: 0 0; }
      ::-webkit-resizer {
          background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' fill='currentColor' class='w-5 h-5'><path fill-rule='evenodd' d='M17 10a.75.75 0 01-.75.75H5.612l4.158 3.96a.75.75 0 11-1.04 1.08l-5.5-5.25a.75.75 0 010-1.08l5.5-5.25a.75.75 0 111.04 1.08L5.612 9.25H16.25A.75.75 0 0117 10z' clip-rule='evenodd' /></svg>");
      }
    </style>
  </head>
  <body class="w-full h-full p-12 bg-gray-50">
    <%= yield %>
  </body>
</html>
