<!DOCTYPE html>
<html>
<head>
  <title>Better mailer previews</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag    "better_mailer_previews/application", media: "all" %>
</head>
<body>

<%= yield %>

</body>
</html>
