<div class="mt-12 text-sm text-gray-400">
  <p><a class="text-gray-700 hover:underline" href="https://github.com/harrison-broadbent/better_mailer_previews">better mailer previews</a> is a gem by me, <a class="text-gray-700 hover:underline" href="https://twitter.com/hrrsnbbnt">harrison broadbent.</a></p>
  <p>you might like my other stuff too; a library of <a class="text-gray-700 hover:underline" href="https://railsnotesui.xyz">email templates for actionmailer</a>, or my <a class="text-gray-700 hover:underline" href="https://railsnotes.xyz">ruby on rails blog.</a></p>
</div>
